[Unit]
Description=Daily Mabel TV storage retention

[Timer]
OnBootSec=20min
OnUnitActiveSec=1d
RandomizedDelaySec=15min
Persistent=true

[Install]
WantedBy=timers.target
